<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper的配置信息 -->
<mapper namespace="com.freeway.web.mappers.business.CarTrafficRecordMapper">
    <!-- query condition -->
    <sql id="where_clause">
        WHERE  REGEXP_LIKE(RTRIM(icCode), #{icCode})
               AND exitDate >= #{beginDate} 
               AND #{endDate} >= exitDate
               AND EXISTS (
                   SELECT sysid
                   FROM fs_org_dept
                   WHERE exitName = dept_name
                   START WITH sysid = #{stationId}
                   CONNECT BY PRIOR sysid = dept_parant_rowid
               )
    </sql>
    
	<!-- 车流量分页数据查询 -->
	<select id="findByCondition" resultType="CarTrafficRecord"
		parameterType="ConditionFiled">
		SELECT * FROM (
		    SELECT a.*, row_number() OVER (ORDER BY a.exitDate DESC) rn 
		    FROM   tracking_view a
            <include refid="where_clause"></include>
		)
        WHERE rn > #{start} and #{limit} >= rn
	</select>
	
	<!-- 车流量总数据量查询 -->
	<select id="selectCount" resultType="Integer" parameterType="ConditionFiled">
	    SELECT COUNT(recordNo)
	    FROM   tracking_view
        <include refid="where_clause"></include>
	</select>
</mapper>