<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper的配置信息 -->
<mapper namespace="com.freeway.web.mappers.business.CarTrafficRecordMapper">
    <!-- query condition -->
    <sql id="where_clause">
        WHERE icCode = #{icCode}
    </sql>
    
	<!-- 车流量分页数据查询 -->
	<select id="findByCondition" resultType="CarTrafficRecord"
		parameterType="ConditionFiled">
			select * 
			from tracking_view
            <include refid="where_clause"></include>
			order by tolldate
	</select>
	
	<!-- 车流量总数据量查询 -->
	<select id="selectCount" resultType="Integer" parameterType="ConditionFiled">
	    SELECT COUNT(recordNo)
	    FROM   tracking_view
        <include refid="where_clause"></include>
	</select>
</mapper>