<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper的配置信息 -->
<mapper namespace="com.freeway.web.mappers.business.CarWithMultiCardsMapper">
    <!-- query condition -->
    <sql id="where_clause">
        WHERE substr(carIncodeRecognize, 2) = #{carCode}
    </sql>
    
	<!-- 一车多卡分页数据查询 -->
	<select id="findByCondition" resultType="CarWithMultiCards"
		parameterType="ConditionFiled">
			SELECT * FROM (
			    SELECT a.*, row_number() OVER (ORDER BY a.carIncodeRecognize) rn 
			    FROM   car_cards_view a
                <include refid="where_clause"></include>
			)
            WHERE rn > #{start} and #{limit} >= rn
	</select>
	
	<!-- 一车多卡总数据量查询 -->
	<select id="selectCount" resultType="Integer" parameterType="ConditionFiled">
	    SELECT COUNT(recordNo)
	    FROM   car_cards_view
        <include refid="where_clause"></include>
	</select>
</mapper>