<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper的配置信息 -->
<mapper namespace="com.freeway.web.mappers.business.CarWithMultiCardsMapper">
	<!-- 一车多卡分页数据查询 -->
	<select id="findByCondition" resultType="CarWithMultiCards"
		parameterType="ConditionFiled">
        <![CDATA[  
			SELECT * FROM (
			    SELECT a.*, row_number() OVER (ORDER BY a.enteDate DESC) rn 
			    FROM   car_cards_view a
			    WHERE  REGEXP_LIKE(RTRIM(carIncode), #{carCode})
			           AND enteDate > #{beginDate} 
			           AND enteDate < #{endDate}
			)
			WHERE rn > #{start} and rn <= #{limit}
        ]]>
	</select>
	<!-- 一车多卡总数据量查询 -->
	<select id="selectCount" resultType="Integer" parameterType="ConditionFiled">
        <![CDATA[  
		    SELECT COUNT(recordNo)
		    FROM   car_cards_view
		    WHERE  REGEXP_LIKE(RTRIM(carIncode), #{carCode})
		           AND enteDate > #{beginDate} 
		           AND enteDate < #{endDate}
        ]]>
	</select>
</mapper>