<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper的配置信息 -->
<mapper namespace="com.freeway.web.mappers.business.LighterCarLongDistanceRunningMapper">
    <!-- query condition -->
    <sql id="where_clause">
        WHERE  exitDate >= #{beginDate} AND #{endDate} >= exitDate
               <if test="hiddenBlank == true">
                   AND carExitcodeRecognize IS NOT NULL
               </if>
               <if test="hiddenType == true">
                   AND adm_id = '1'
               </if>
               <choose>
                   <when test="axisum == '7'">
                      AND axisnum >= 7
                   </when>
                   <when test="axisum != null and axisum != ''">
                      AND axisnum = #{axisum}
                   </when>
               </choose>
               <if test="carCode != null and carCode != ''">
                   AND REGEXP_LIKE(RTRIM(carExitcodeRecognize), #{carCode})
               </if>
    </sql>

	<!-- 轻车长途分页数据查询 -->
	<select id="findByCondition" resultType="LighterCarLongDistanceRunning"
		parameterType="ConditionFiled">
			SELECT * FROM (
			    SELECT a.*, row_number() OVER (ORDER BY a.exitDate DESC) rn 
			    FROM   long_distance_view a
                <include refid="where_clause"></include>
			)
            WHERE rn > #{start} and #{limit} >= rn
	</select>
	
	<!-- 轻车长途总数据量查询 -->
	<select id="selectCount" resultType="Integer" parameterType="ConditionFiled">
	    SELECT COUNT(recordNo)
	    FROM   long_distance_view
        <include refid="where_clause"></include>
	</select>
</mapper>