<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper的配置信息 -->
<mapper namespace="com.freeway.web.mappers.business.TollDownshiftMapper">
	<!-- 收费员降档分页数据查询 -->
	<select id="findByCondition" resultType="TollDownshift"
		parameterType="ConditionFiled">
        <![CDATA[  
			SELECT * FROM (
			    SELECT a.*, row_number() OVER (ORDER BY a.exitDate DESC) rn 
			    FROM   toll_collector_view a
			    WHERE  REGEXP_LIKE(RTRIM(carExitCode), #{carCode})
			           AND exitDate > #{beginDate} 
			           AND exitDate < #{endDate}
                       AND EXISTS (
                           SELECT sysid
                           FROM fs_org_dept
                           WHERE exitName = dept_name
                           START WITH sysid = #{stationId}
                           CONNECT BY PRIOR sysid = dept_parant_rowid
                       )
			)
			WHERE rn > #{start} and rn <= #{limit}
        ]]>
	</select>
	<!-- 收费员降档总数据量查询 -->
	<select id="selectCount" resultType="Integer" parameterType="ConditionFiled">
        <![CDATA[  
		    SELECT COUNT(recordNo)
		    FROM   toll_collector_view
		    WHERE  REGEXP_LIKE(RTRIM(carExitCode), #{carCode})
		           AND exitDate > #{beginDate} 
		           AND exitDate < #{endDate}
                   AND EXISTS (
                       SELECT sysid
                       FROM fs_org_dept
                       WHERE exitName = dept_name
                       START WITH sysid = #{stationId}
                       CONNECT BY PRIOR sysid = dept_parant_rowid
                   )
        ]]>
	</select>
</mapper>