<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper的配置信息 -->
<mapper namespace="com.freeway.web.mappers.statis.EnteStatisMapper">
    <!-- query condition -->
    <sql id="where_clause">
         WHERE EXISTS (
                   SELECT sysid
                   FROM fs_org_dept
                   WHERE enteName = dept_name
                   START WITH sysid = #{stationId}
                   CONNECT BY PRIOR sysid = dept_parant_rowid
               )
               AND exitDate >= #{beginDate} AND #{endDate} >= exitDate
               <if test="hiddenBlank == true">
                   AND carExitcodeRecognize IS NOT NULL
               </if>
               <choose>
                   <when test="axisum == '7'">
                      AND axisnum >= 7
                   </when>
                   <when test="axisum != null and axisum != ''">
                      AND axisnum = #{axisum}
                   </when>
               </choose>
               <if test="carCode != null and carCode != ''">
                   AND REGEXP_LIKE(RTRIM(carExitcodeRecognize), #{carCode})
               </if>
    </sql>

	<!-- 计重设备按出口统计数量 -->
	<select id="computeStatis" resultType="EnteStatis" parameterType="ConditionFiled">
         SELECT count(rowid) staticCount, enteName
		 FROM abnormal_record_view
         <include refid="where_clause"></include>
         GROUP BY entename
	</select>
</mapper>